.overlay {
    pointer-events: none;
    z-index: $overlay-layer;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.overlay-panel {
    background: $bl-grey-light;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;

    span {
        font-size: 20px;
        line-height: 40px;
        margin: 10px;
        margin-left: 15px;
        text-transform: uppercase;
    }
    .checkbox {
        margin: 7.5px;
    }
    .rc-slider {
        margin-left: 10px;
    }
    .palette {
        vertical-align: top;
        margin: 10px;
        display: inline-block;

        .color {
            margin-right: 7px;
            width: 30px;
        }
    }
    .overlay-panel-off{
        display: none;
    }
}
