.overlay div {
    z-index: $overlay-layer;
}

.overlay-panel {
    background: $bl-grey-light;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;

    span {
        font-size: 20px;
        line-height: 40px;
        margin: 10px;
        margin-left: 15px;
        text-transform: uppercase;
    }
    .select {
        cursor: pointer;
        margin: 0 5px;
        height: 25px;
        transform: translateY(7.5px);
    }
    .rc-slider {
        margin: 0 15px;
    }
    .palette {
        vertical-align: top;
        margin: 10px;
        display: inline-block;

        .color {
            margin-right: 7px;
            width: 30px;
        }
    }
}
