.export {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transition: height .3s;
    
    .icons {
        background: $bl-grey-light;
        z-index: $super-menu-layer;
        padding: 7px 10px;
        position: relative;

        img {
            padding: 8px;
            margin: 0 10px;
            height: 30px;
    
            &:hover {
                background: $bl-grey-lighter;
            }
        }
    }

    .tooltip {
        background: $bl-grey;
        font-size: 23px;
        z-index: $menu-layer;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        height: 23px;
        position: relative;
        transition: top .3s;
    }
}
